<html>

	<head>

	  <script type='text/javascript' src='static/knockout-3.5.0.js'></script>

   	</head>
   
   <body>

 
	<!-- ADD IMAGE -->
	<form data-bind="submit: saveImage" method="POST" role="form" enctype="multipart/form-data">
		
		<input type="file" id="imageUpload" name="files"  data-bind="fileUpload : trainUploadFile" />
		
		<button type="submit" data-bind="enable: imageSave">Save Image</button>

	</form>


	<!-- REMOVE IMAGE -->
	<form data-bind="submit: removeImage" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Remove Image</button>		
	</form>


	<!-- TEXT DETECTION PART -->
	<form data-bind="submit: text_detect" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Text Detection</button>	
	</form>

	<form data-bind="submit: get_text_detect" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Get Text Detection</button>	
	</form>




	<!-- PREPROCESSING PART -->
	<form data-bind="submit: text_preprocess" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Preprocess Mask</button>		
	</form>

	<form data-bind="submit: get_text_preprocess" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Get Preprocessed Mask</button>	
	</form>


	<!-- TEXT RECOGNITION PART -->
	<form data-bind="submit: text_recognize" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Text Recognize</button>		
	</form>

	<form data-bind="submit: get_text_recognize" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Get Text Result</button>	
	</form>

	
	<!-- SHOW IMAGE -->
	<form class="my_image_list">
		
		<ul data-bind="foreach: media">
			
			<li>
				<div>
					<img data-bind="attr: {src: media_url}" width="150px" height="150px">
				</div>
			</li>

		</ul>

	</form>
 	
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 	<script src="{{url_for('static', filename='upload_1.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
   </body>

</html>
