<html>

	<head>

	  <script type='text/javascript' src='static/knockout-3.5.0.js'></script>

   	</head>
   
   <body>

   	<!--
      <form action = "http://localhost:8000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>

      </form>
	-->

	<!-- ADD IMAGE -->
	<form data-bind="submit: saveImage" method="POST" role="form" enctype="multipart/form-data">
		
		<input type="file" id="imageUpload" name="files"  data-bind="fileUpload : trainUploadFile" />
		
		<button type="submit" data-bind="enable: imageSave">Save Image</button>

	</form>


	<!-- REMOVE IMAGE -->
	<form data-bind="submit: removeImage" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Remove Image</button>		
	</form>


	<!-- GRAYSCALE CONVERT -->
	<form data-bind="submit: gray_convert" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Convert to Grayscale</button>	
	</form>
	<!-- GET GRAYSCALE -->
	<form data-bind="submit: get_gray_convert" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Get Grayscale</button>	
	</form>




	<!-- SHARPENING -->
	<form data-bind="submit: sharp" method="POST" role="form" enctype="multipart/form-data">

		<button type="submit" data-bind="enable: imageExists">Sharpning</button>		
	</form>

	<!-- GET SHARPENING -->
	<form data-bind="submit: get_sharp_convert" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Get Sharp</button>	
	</form>





	<!-- BLURING -->
	<form data-bind="submit: blur" method="POST" role="form" enctype="multipart/form-data">

		<button type="submit" data-bind="enable: imageExists">Gaussian Blur</button>		
	</form>

	<!-- GET BLURING -->
	<form data-bind="submit: get_blur_convert" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Get Blur</button>	
	</form>




	<!-- EDGE -->
	<form data-bind="submit: edge" method="POST" role="form" enctype="multipart/form-data">

		<button type="submit" data-bind="enable: imageExists">Canny Edge Map</button>		

	</form>

	<!-- GET EDGE -->
	<form data-bind="submit: get_edge_convert" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Get Edge</button>	
	</form>



	<!-- SALIENCY -->
	<form data-bind="submit: saliency" method="POST" role="form" enctype="multipart/form-data">

		<button type="submit" data-bind="enable: imageExists">Residual Saliency</button>		
	</form>

	<!-- GET SALIENCY -->
	<form data-bind="submit: get_saliency_convert" method="POST" role="form" enctype="multipart/form-data">
		<button type="submit" data-bind="enable: imageExists">Get Saliency</button>	
	</form>


	
	<!-- SHOW IMAGE -->
	<form class="my_image_list">
		
		<ul data-bind="foreach: media">
			
			<li>
				<div>
					<img data-bind="attr: {src: media_url}" width="150px" height="150px">
				</div>
			</li>

		</ul>

	</form>

	<!-- SUBMIT INFO AND SAVE IT -->
	<!--
	<div>
		
		<form data-bind="submit : saveInfo" role="form" method="POST" enctype="multipart/form-data">

			<p>Enter your name: <input data-bind = "value: yourName" /></p>
			 <p>Name: <strong data-bind = "text: yourName"></strong> </p>
			 <p>Enter your surname: <input data-bind = "value: yourSurname" /></p>
			 <p>Surname: <strong data-bind = "text: yourSurname"></strong></p>
	 		<button type="submit">Save Info</button>

		</form>
	

	</div>
	-->
 	
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 	<script src="{{url_for('static', filename='upload_1.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
   </body>

</html>
